[submodule "Crystal/vendor/spdlog"]
	path = Crystal/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Crystal/vendor/GLFW"]
	path = Crystal/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	ignore = dirty
[submodule "Crystal/vendor/imgui"]
	path = Crystal/vendor/imgui
	url = https://github.com/TheCherno/imgui
	ignore = dirty
